.dashboard-bg {
  min-height: 100vh;

  background-image: url("../assets/DashboardBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.div-general { 
    position: relative;
    margin: 2rem auto; 
    padding: 2rem; 
    border: 4px solid #97ce4c; 
    border-radius: 12px; 
    color: #e0ffe0; 
    box-shadow: 0 0 8px #00ff99; 
    max-width: 1500px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
} 

.div-general::before { 
    content: ""; 
    position: absolute; 
    inset: 0;
    background: radial-gradient(circle at center, #202329 0%, #202329 100%); 
    opacity: 0.85;
    z-index: 0;
}

.div-general .alert-link {
  color: #00ffff;
  text-decoration: underline;
  font-weight: 600;
}

.div-general .character-card {
  background-color: #202329;
  border: 1px solid #00ffff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.div-general .character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00ffff;
}

.titulo-dashboard {
  background-color: #202329;
  color: #00b0c8;  
  border: 4px solid #97ce4c;
  text-align: center;  
  padding: 1rem;
  border-radius: 8px;            
  text-shadow: 0 0 8px #00b0c8;
  box-shadow: 0 0 8px #00ff99;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: monospace;

}

.resource-card {
  background: #202329;
  border: 3px solid #97ce4c;
  border-radius: 12px;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 400px;
  color: #e0ffe0;
  box-shadow: 0 0 12px #00ff99;
  text-align: center;
}

.resource-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #00b0c8;
  text-shadow: 0 0 6px #00b0c8;
  font-family: monospace;
  letter-spacing: 2px;
}

.resource-stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resource-item {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resource-item span {
  color: #00ffff;
  font-weight: 600;
}

.resource-item.credit {
  background: rgba(0, 176, 200, 0.1);
  border: 2px solid #00b0c8;
}

.resource-item.fuel {
  background: rgba(151, 206, 76, 0.1);
  border: 2px solid #97ce4c;
}

.resource-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ffff;
}

.alert-gameover {
  background-color: #2a0000;
  border: 3px solid #ff0033;
  color: #ffcccc;
  text-align: center;
  padding: 1rem;
  margin: 1.5rem auto;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 800px;
  box-shadow: 0 0 12px #ff0033;
  text-shadow: 0 0 6px #ff0033;
  font-family: monospace;
  letter-spacing: 1px;
}
