.cantina-bg {
  min-height: 100vh;
  background-image: url("../assets/CantinaBg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 2rem;
}


.div-cantina { 
    position: relative;
    padding: 2rem;
    border: 4px solid #97ce4c;
    border-radius: 12px; 
    color: #e0ffe0; 
    box-shadow: 0 0 8px #00ff99; 
    max-width: 1500px; 
    overflow: hidden; 
} 

.div-cantina::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, #202329 0%, #202329 100%);
  opacity: 0.85;
  z-index: 0;
}

.div-cantina .character-card {
  background-color: #202329;
  border: 1px solid #00ffff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.titulo-cantina {
  background-color: #202329;
  color: #00b0c8;  
  border: 4px solid #97ce4c;
  text-align: center;  
  padding: 1rem;
  border-radius: 8px;            
  text-shadow: 0 0 8px #00b0c8;
  box-shadow: 0 0 8px #00ff99;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: monospace;
  margin-bottom: 10px;

}

.search-cantina {
  width: 100%;
  max-width: 600px;
  padding: 0.8rem 1rem;
  border: 4px solid #97ce4c;
  border-radius: 12px;
  background-color: #202329;
  color: #e0ffe0;
  font-size: 1.1rem;
  box-shadow: 0 0 8px #00ff99;
  outline: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-cantina::placeholder {
  color: #97ce4c;
  opacity: 0.8;
}

.search-cantina:focus {
  border-color: #00b0c8;
  box-shadow: 0 0 12px #00b0c8;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.card-wrapper .character-card {
  width: 100%;
  min-height: 400px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.character-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}