.character-card {
  width: 200px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.character-image {
  width: 100%;
}

.character-card h3 {
  margin: 10px 0 5px;
}

.character-card p {
  margin-bottom: 10px;
  font-weight: bold;
}


.custom-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.custom-button:disabled {
  background-color: #a5b4fc;
  cursor: not-allowed;
}
